.form-check-input{
    margin-right: 5px;
    width: 20px;
    height: 20px;
    justify-content: center;
}

.inpTot{
    width: 30px;
    height: 25px;
    margin-right: 5px;
    text-align: center;
}

.table{
    font-size: 20px;
  }

  .container{
    margin-top: 70px;
  }

  .button{
    border-radius: 8px;
    background-color: #0375ff;

    border-color: #fab2a3;
    width: 75px;  
    height: 40px;  
    margin-left: 5px;
    margin-right: 5px;
  }

    .divbotoes{

    display: flex;
    justify-content: space-between;
  }