#root {
  max-width: 1280px;


  background-image: url(../src/assets/18.jpg);
  background-size: cover;
  background-position: center;
}


.card {
  padding: 2rem;
  padding: 0;
}

.title-app{
  text-align: center;
  color: #7b5451;
}



@media screen and (max-width: 568px) {
  #root {
    margin: 0 auto;
    padding: 1.5rem 1rem 0.3rem 1rem;
  }
  .card {
    padding: 1em;
  }

  .txtStat {
    font-size: 15px;
  }
}



@media screen and (max-width: 233px) {
  #root {
    padding: 3px 5px 3px 5px;
  }
  .card {
    padding: 1em;
  }

  .txtQuest {
    font-size: 11px;
  }

  .txtStat {
    display: none;
  }

  .button {
    font-size: small;
    width: 80px;
    height: 40px;
  }

  .btn1 {
    padding-left: 0;
justify-content: center;
  }

  .container {
    margin-top: 5px;
  }

  .title-app {
    font-size: 18px;
    padding-top: 10px;
  }

  .table th:nth-child(2) {
    /* Targets the Todo header */
    padding: 8px;
  }

  .table th:nth-child(3) {
    /* Targets the Status header */
    padding: 8px;
  }
}

