#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 5rem 15rem 5rem 15rem;
  text-align: center;

  background-image: url(../src/assets/18.jpg);
  background-size: cover;
  background-position: center;

}


@media screen and (max-width: 1400px) { 
  #root {
    margin: 0 auto;
    padding: 3rem 5rem 3rem 5rem;
  }
  .card {
    padding: 2em;
  }
}

@media screen and (max-width: 1200px) { 
  #root {
    padding: 2.6rem 4rem 1.5rem 4rem;
  }
  .card {
    padding: 2em;
  }

}

@media screen and (max-width: 1129px) { 
  #root {
    padding: 2.3rem 3rem 1.0rem 3rem;
  }
  .card {
    padding: 1.5em;
  }
  
}

@media screen and (max-width: 992px) { 
  .card {
    padding: 1em;
  }
}

@media screen and (max-width: 768px) { 
  #root {
    padding: 1.8rem 2rem 0.5rem 2rem;
  }

}


@media screen and (max-width: 568px) { 
  #root {
    margin: 0 auto;
    padding: 1.5rem 1rem 0.3rem 1rem;
  }
  .card {
    padding: 1em;
  }
  .button{
    width: 70px;
    height: 40px;
  }
  .txtStat{
    font-size: 15px;

  }
}


@media screen and (max-width: 360px) { 
  .title-app{
    font-size: 22px;
  }
  .container{
    margin-top: 10px;
  }

  .txtQuest{
    font-size: 15px;
  }

  .txtStat{
    font-size: 15px;
  }

  .container{
    margin-top: 10px;
  }

  .button{
    font-size: small;
    width: 60px;
    height: 40px;
  }


}


@media screen and (max-width: 270px) { 
  .txtQuest{
    font-size: 14px;
  }

  .txtStat{
    font-size: 15px;
  }

  .container{
    margin-top: 15px;
  }

  .table th:first-child {
    display: none;
  }
  
  .titlecol{
    font-size: 14px;
  }

}



@media screen and (max-width: 150px) { 

  #root {
    padding: 3px 5px 3px 5px;
  }
  .card {
    padding: 1em;
  }
  
  .txtQuest{
    font-size: 13px;
  }

.button{
  font-size: small;
}

.container{
  margin-top: 5px;
}

}